{% extends "base.html.twig" %}

{% block title %}Synthese du round {{round}} du tournoi {{edition}}{% endblock %}

{% block body %}
{% block menuButtons %}
<a href="{{ path('_all_ranking',{'edition':edition} )  }}" class="btn btn-info" role="button">Synth&egrave;se des classements</a>
<a href="{{ path('fantasy_football_tournament_admin_main',{'edition':edition} )  }}" class="btn btn-primary" role="button">Administration</a>
{% endblock %}
<h1>Synthese du round {{round}} du tournoi {{edition}}</h1>
<dl>
{% for confrontation in confrontations %}
<dt>{{loop.index}} - {{confrontation.team1.getName}} vs {{confrontation.team2.getName}}</dt>
<dl>{% for game in confrontation.games %}
  {% if false == loop.first %} -- {% endif %} {{game.coach1.name}} vs {{game.coach2.name}}
{% endfor %}</dl>
{% endfor %}
</dl>
{{ block('menuButtons') }}
{% endblock %}
