{% extends "base.html.twig" %}

{% block title %}Administration &Eacute;dition {{edition}} - tour : {{round}}{% endblock %}

{% block body %}
<h1>Administration &Eacute;dition {{edition}} - tour {{round}}</h1>
{% block menuButtons %}
<a href="{{ path('fantasy_football_tournament_admin_main',{'edition':edition,'round':round-1} )  }}" class="btn btn-secondary " role="button">Ronde précédente</a>
<a href="{{ path('_add_game',{'edition':edition,'round':round} )  }}" class="btn btn-primary" role="button">Ajouter un match</a>
<a href="{{ path('_summarize',{'edition':edition,'round':round} )  }}" class="btn btn-primary " role="button">Synth&egrave;se des matchs</a>
{% if  (matchesToPlay|length == 0) and (round != roundNumber) %}
<a href="{{ path('fantasy_football_tournament_admin_next',{'edition':edition} )  }}" class="btn btn-primary " role="button">Générer la prochaine ronde</a>
{% endif %}
{% if (matchesToPlay|length != 0) %}
<a href="{{ path('fantasy_football_tournament_simulate_games',{'edition':edition,'round':round} )  }}" class="btn btn-danger" role="button">Simuler</a>
{% endif %}
{% if  round < roundNumber %}<a href="{{ path('fantasy_football_tournament_admin_main',{'edition':edition,'round':round+1} )  }}" class="btn btn-secondary " role="button">Ronde suivante</a>{% endif %}
{% for coachRanking in rankings.coach|keys %}
<a href="{{ path('_coach_ranking',{'edition':edition,'type':coachRanking} )  }}" class="btn btn-info" role="button">Classement individuel ({{coachRanking}})</a>
{% endfor %}
{% for coachTeamranking in rankings.coachTeam|keys %}
<a href="{{ path('_coach_team_ranking',{'edition':edition,'type':coachTeamranking} )  }}" class="btn btn-info" role="button">Classement équipe ({{coachTeamranking}})</a>
{% endfor %}
<a href="{{ path('_all_ranking',{'edition':edition} )  }}" class="btn btn-info" role="button">Synth&egrave;se des classements</a>
{% if  round == roundNumber %}
<a href="{{ path('fantasy_football_tournament_admin_naf',{'edition':edition} )  }}" class="btn btn-info" role="button">Fichier XML NAF</a>
<a href="{{ path('_add_edition') }}" class="btn btn-warning" role="button" >Ajouter une &eacute;dition</a>
{% endif %}
{% endblock %}

{% if matchesToPlay %}
<h2>Matchs &agrave; jouer <span class="badge badge-info">{{ matchesToPlay|length }}</span></h2>

<table id="toPlayGames" class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Table</th>
            <th>Adversaire 1</th>
            <th>Adversaire 2</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for match in matchesToPlay %}
        <tr>
            <td>{{match.table}}</td>
            <td>{% if match.teamName1|length %}({{match.teamName1}}) {% endif %}<a href="{{ path('_view_coach',{'coachId':match.teamId1} )  }}" class="btn btn-info" role="button" >{{match.coach1}}</a></td>
            <td><a href="{{ path('_view_coach',{'coachId':match.teamId2} ) }}" class="btn btn-info" role="button" >{{match.coach2}}</a>{% if match.teamName2|length %} ({{match.teamName2}}) {% endif %}</td>
            <td>
                <a href="{{ path('_resume_game',{'gameId':match.id} ) }}" class="btn btn-success" role="button" >R&eacute;sumer</a>
                <a href="{{ path('_delete_game',{'gameId':match.id} ) }}" class="btn btn-danger" role="button" >Supprimer</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{{ block('menuButtons') }}
{% endif %}
{% if playedMatches %}
<h2>Matchs jou&eacute;s <span class="badge badge-info">{{ playedMatches|length }}</span></h2>
<table id="playedGames" class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Table</th>
            <th>Adversaires</th>
            <th>Score</th>
            <th>Sorties</th>
            <th>Points</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for match in playedMatches %}
    <td>{{match.table}}</td>
    <td>{% if match.teamName1|length %}({{match.teamName1}}) {% endif %}<a href="{{ path('_view_coach',{'coachId':match.teamId1} )  }}" class="btn btn-info" role="button"  >{{match.coach1}}</a>
    - <a href="{{ path('_view_coach',{'coachId':match.teamId2} )  }}" class="btn btn-info" role="button"  >{{match.coach2}}</a>{% if match.teamName2|length %} ({{match.teamName2}}) {% endif %}</td>
    <td>{{match.td1}} - {{match.td2}}</td>
    <td>{{match.casualties1}} - {{match.casualties2}}</td>
    <td>{{match.points1}} - {{match.points2}}</td>
    <td>
        <a href="{{ path('_modify_game',{'gameId':match.id} ) }}" class="btn btn-success" role="button" >Modifier</a>
        <a href="{{ path('_delete_game',{'gameId':match.id} ) }}" class="btn btn-danger" role="button" >Supprimer</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
{{ block('menuButtons') }}
{% endif %}
<style>
@media print {
table th:last-child,
table td:last-child,
body > a {
    display:none;
}
}
</style>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/datatables.js') }}"></script   >
    <script> 
        $(document).ready(function() {
            $('#toPlayGames').DataTable({paging:false,searching:false});
            $('#playedGames').DataTable({paging:false,searching:false});
        } );
    </script>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/datatables.css') }}">
    <style>
    @media print {
        table th:last-child,
        table td:last-child,
        body > a {
            display:none;
        }
    }
    </style>
{% endblock %}
