{% extends "base.html.twig" %}

{% block title %}Administration &Eacute;dition {{edition}} - D&eacute;but{% endblock %}

{% block body %}
<h1>Administration &Eacute;dition {{edition}} - D&eacute;but</h1>
{% block menuButtons %}
<a href="{{ path('_add_coach',{'edition':edition} )  }}" class="btn btn-primary" role="button" >Ajouter un coach</a>
<a href="{{ path('_ready_coachs_by_edition',{'edition':edition} )  }}" class="btn btn-primary" role="button" >Déclarer tous les coachs présents</a>
<a href="{{ path('_unready_coachs_by_edition',{'edition':edition} )  }}" class="btn btn-primary" role="button" >Déclarer tous les coachs absents</a>
<a href="{{ path('_add_coach_team',{'edition':edition} )  }}" class="btn btn-primary" role="button" >Ajouter une triplette</a>
<a href="{{ path('_load_coach_team',{'edition':edition} ) }}" class="btn btn-primary" role="button" >Charger le fichier</a>
{% if enableDeleteCoachs %}
<a href="{{ path('_delete_coach_team_by_edition',{'edition':edition} ) }}" class="btn btn-danger" role="button" >Supprimer les coachs</a>
{% endif %}
{% if currentRound %}
<a href="{{ path('fantasy_football_tournament_admin_main',{'edition':edition,'round':1} )  }}"class="btn btn-primary" role="button"  >Journ&eacute;e 1</a>
{% else %}
<a href="{{ path('_modify_edition',{'edition':edition} ) }}" class="btn btn-warning" role="button" >Modifier l'&eacute;dition</a>
<a href="{{ path('fantasy_football_tournament_admin_next',{'edition':edition} )  }}" class="btn btn-primary" role="button"  >Générer la prochaine ronde</a>
{% endif %}
{% endblock %}
{% if coachs %}
<h2>Coachs <span class="badge badge-info">{{ coachs|length }}</span></h2>
<table id="coach" class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Numero NAF</th>
            <th>Race</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for coach in coachs %}
	<tr>
            <td><a href="{{ path('_view_coach',{'coachId':coach.getId()} )  }}" class="btn btn-info" role="button" >{{coach.getName()}}</a></td>
            <td>{{coach.getNafNumber()}}</td>
            <td>{{coach.race.frenchName}}</td>
            <td>
                <span class="label label-{{ coach.getStatus() }}">{{ coach.getStatusString() }}</span>
            </td>
            <td>
                <a href="{{ path('_modify_coach',{'coachId':coach.id} )  }}" class="btn btn-success" role="button" >Modifier</a>
                <a href="{{ path('_delete_coach',{'coachId':coach.getId()} )  }}" class="btn btn-danger" role="button" >Supprimer</a>
                {% if coach.getReady() %}
                    <a class="btn btn-primary" href="{{ path('_unready_coach',{'coachId':coach.getId()} )  }}" >D&eacute;clarer absent</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('_ready_coach',{'coachId':coach.getId()} )  }}" >D&eacute;clarer pr&eacute;sent</a>
                {% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{{ block('menuButtons') }}
{% endif %}
{% if coachTeams %}
<h2>Triplettes <span class="badge badge-info">{{ coachTeams|length }}</span></h2>
<table id="coachTeam" class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Membres</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for coachTeam in coachTeams %}
    <tr>
        <td><a href="{{ path('_view_coach_team',{'coachTeamId':coachTeam.getId()} ) }}" class="btn btn-info" role="button"  >{{coachTeam.getName() }}</a></td>
        <td>{% if coachTeam.getCoachs() %}
    {% for innerCoach in coachTeam.getCoachs() %}
        {% if loop.last %} et {% else %}{% if loop.first == false %}, {% endif %}{% endif %}{{ innerCoach.getName() }}
    {% endfor %}
    {% endif %}
        </td>
        <td><span class="label label-{{ coachTeam.getStatus() }}">{{ coachTeam.getStatusString() }}</span></td>
        <td>
          <a href="{{ path('_modify_coach_team',{'edition':edition,'coachTeamId':coachTeam.getId()} )  }}" class="btn btn-success" role="button"  >Modifier</a>
          <a href="{{ path('_delete_coach_team',{'coachTeamId':coachTeam.getId()} )  }}" class="btn btn-danger" role="button" >Supprimer</a>
          {% if ("success" != coachTeam.getStatus() ) %}
            <a class="btn btn-primary" href="{{ path('_ready_coach_team',{'coachTeamId':coachTeam.getId()} )  }}" >D&eacute;clarer pr&eacute;sent</a>
          {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{{ block('menuButtons') }}
{% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/datatables.js') }}"></script   >
    <script> 
        $(document).ready(function() {
            $('#coach').DataTable({paging:false,searching:false});
            $('#coachTeam').DataTable({paging:false,searching:false});
        } );
    </script>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/datatables.css') }}">
{% endblock %}