{% extends "base.html.twig" %}

{% block title %}D&eacute;tail sur le coach {{ coach.getName() }}{% endblock %}

{% block body %}
{% block menuButtons %}
<a href="{{ path('_modify_coach',{'coachId':coach.id} )  }}" class="btn btn-warning btn-sm" role="button" >Modifier</a>
<a href="{{ path('_delete_coach',{'coachId':coach.id} )  }}" class="btn btn-danger btn-sm" role="button" >Supprimer</a>
<a href="{{ path('fantasy_football_tournament_admin_main',{'edition':coach.edition} )  }} btn-sm"class="btn btn-primary" role="button"  >Administration</a>
{% endblock %}

<h1>Coach : {{ coach.getName() }} <span class="badge bg-secondary">{{ coach.getId() }}</span></h1>
<ul class="list-group">
{%if coach.getNafNumber() %}<li class="list-group-item"><label>Numéro NAF :</label> {{ coach.getNafNumber() }}</li>{% endif %}
{%if coach.getTeamName() %}<li class="list-group-item"><label>Nom d'&eacute;quipe :</label> {{ coach.getTeamName() }}</li>{% endif %}
{%if race %}<li class="list-group-item"><label>Race :</label>
    {{ race.getNomFr() }}<span class="badge bg-secondary">{{ race.getId() }}</span></li>{% endif %}
<li class="list-group-item"><label>Courriel : </label> {{ coach.getEmail() }}</li>
<li class="list-group-item"><label>Pr&ecirc;t : </label> {{ coach.getReady() }}</li>
<li class="list-group-item"><label>Triplette :</label> {%if coach.hasCoachTeam() %}
    <a href="{{ path('_view_coach_team',{'coachTeamId':coachTeam.getId()} ) }}" class="btn btn-info" role="button" >
    {{ coachTeam.getName()}}</a>
    <span class="badge bg-secondary">{{ coachTeam.getId() }}</span>{% else %}Non d&eacute;fini{% endif %}</li>
{%if matchs %}
<li class="list-group-item"><label>Matchs </label>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tour</th>
            <th>Table</th>
            <th>Adversaire</th>
            <th>Score</th>
            <th>Sorties</th>
            <th>Sorties adverses</th>
            <th>Points</th>
            <th>Points adverses</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for match in matchs %}
    <tr>
        <td>{{match.round}}</td>
        <td>{{match.table}}</td>
        <td><a href="{{ path('_view_coach',{'coachId':match.teamId2} )  }}" class="btn btn-info btn-sm" role="button" >{{match.coach2}}</a></td>
        {% if match.status == 'programme' %}
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td><a href="{{ path('_resume_game',{'gameId':match.id} ) }}" class="btn btn-primary btn-sm" role="button" >R&eacute;sumer</a></td>
        {% else %}
        <td class="bg-{% if match.td1 == match.td2 %}warning{% elseif match.td1>match.td2 %}success{% else %}danger{%endif %}">{{match.td1}} - {{match.td2}}</td>
        <td>{{match.casualties1}}</td>
        <td>{{match.casualties2}}</td>
        <td>{{match.points1}}</td>
        <td>{{match.points2}}</td>
        <td>
            <a href="{{ path('_modify_game',{'gameId':match.id} ) }}" class="btn btn-warning btn-sm" role="button" >Modifier</a>
            <a href="{{ path('_delete_game',{'gameId':match.id} ) }}" class="btn btn-danger btn-sm" role="button" >Supprimer</a></td>
        </td>
        {% endif %}
    </tr>
{% endfor %}
    </tbody>
</table>
</li>
{% endif %}
</ul>
{{ block('menuButtons') }}
{% endblock %}