{% extends "base.html.twig" %}

{% block title %}FantasyFootballTournamentAdminBundle:CoachTeam:List{% endblock %}

{% block body %}
<h1>Welcome to the CoachTeam:List page</h1>
<ul>
{% for coachTeam in coachTeams %}
	<li>{{coachTeam.getName() }} 
{% if coachTeam.getCoachs() %} - 
{% for innerCoach in coachTeam.getCoachs() %}
    {% if loop.last %} et {% else %}{% if loop.first == false %}, {% endif %}{% endif %}{{ innerCoach.getName() }}
{% endfor %}
{% endif %}
            <a href="{{ path('_view_coach_team',{'coachTeamId':coachTeam.getId()} ) }}" class="btn btn-default" role="button" >Voir</a>
            <a href="{{ path('_delete_coach_team',{'coachTeamId':coachTeam.getId()} ) }}" class="btn btn-default" role="button" >Supprimer</a>
            <a href="{{ path('_modify_coach_team',{'coachTeamId':coachTeam.getId()} ) }}" class="btn btn-default" role="button" >Modifier</a></li>
{% endfor %}
</ul>
<a href="{{ path('_add_coach',{'edition':edition} )  }}" class="btn btn-default" role="button" >Ajouter une triplette</a>
<a href="{{ path('fantasy_football_tournament_admin_main',{'edition':edition} )  }}"class="btn btn-primary" role="button"  >Administration</a>
{% endblock %}