{% extends "base.html.twig" %}

{% block title %}Synth&egrave;se de l'&eacute;dition {{edition}} } - Ronde {{round}}{% endblock %}

{% block body %}
<div class="container">
<h2>Synth&egrave;se de l'&eacute;dition {{edition}} - Ronde {{round}}</h2>
{% block menuButtons %}
{% for coachRanking in allCoachRankings|keys %}
<a href="{{ path('_coach_ranking',{'edition':edition,'type':coachRanking} )  }}" class="btn btn-info" role="button">Classement individuel ({{coachRanking}})</a>
{% endfor %}
{% for coachTeamRanking in allCoachTeamRankings|keys %}
<a href="{{ path('_coach_team_ranking',{'edition':edition,'type':coachTeamRanking} )  }}" class="btn btn-info" role="button">Classement équipe ({{coachTeamRanking}})</a>
{% endfor %}
<a href="{{ path('_all_ranking',{'edition':edition} )  }}" class="btn btn-info" role="button">Synth&egrave;se</a>
<a href="{{ path('fantasy_football_tournament_admin_main',{'edition':edition} )  }}" class="btn btn-primary" role="button">Administration</a>
{% endblock %}
<div class="row">
<div class="col-lg-12">
{% for name,ranking in allCoachTeamRankings %}
<h3>Classement par &eacute;quipe &eacute;dition {{edition}} ({{name}}) à la ronde {{round}} </h3>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Triplette</th>
            <th>Participants</th>
{% for param in attribute(allCoachTeamParams,name) %}
            <th>{{param}}</th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for coachTeam in ranking|slice(0,3) %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="{{ path('_view_coach_team',{'coachTeamId':coachTeam.id} )  }}" class="btn btn-info" role="button" >{{coachTeam.name}}</a></td>
            <td>
    {% for innerCoach in coachTeam.teams %}{% if loop.last %} et {% else %}{% if loop.first == false %}, {% endif %}{% endif %}{{ innerCoach.coach }}{% endfor %}
{% for param in attribute(allCoachTeamParams,name) %}
            <td>{{ attribute(coachTeam,param) }}</td>
{% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% endfor %}
{% for name,ranking in allCoachRankings %}
<h3>Classement individuel &eacute;dition {{edition}} ({{name}}) à la ronde {{round}} </h3>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Coach</th>
            {% for param in attribute(allCoachParams,name) %}
            <th>{{param}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
{% for coach in ranking|slice(0,3) %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="{{ path('_view_coach',{'coachId':coach.id} )  }}" class="btn btn-info" role="button" >{{coach.name}}</a></td>
            {% for param in attribute(allCoachParams,name) %}
            <td>{{ attribute(coach,param) }}</td>
            {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% endfor %}
</div>
{{ block('menuButtons') }}
{% endblock %}